@use '_var';

.rules {
    max-width: 1024px;
    width: 100%;
    min-height: 80vh;
    margin: 140px auto 40px;
    text-align: center;

    &__list {
        display: flex;
        flex-direction: column;
    }
}